body{
	margin: 0;
	padding: 0;

}
.contenedor{
	margin:  0;
	padding: 0;

}
.caja{
	width: 200px;
	height: 200px;
}
#rosa{
	background-color: #EE3E64;

}
#azul{
	background-color: #2B7DB9;

}
#verde{

	background-color: #B7D84B;
}
#amarillo{
	background-color: #FAFF16;
	}