body{
	margin: 0;
	padding: 0;

}
.contenedor{
	margin:  0;
	padding: 0;

}
.caja{
	width: 200px;
	height: 200px;
	position: absolute;

}
#rosa{
	background-color: #EE3E64;
	left: 0;
	top: 0;
}
#azul{
	background-color: #2B7DB9;
	right: 0;
	top: 0;
}
#verde{
	left: 0;
	bottom: 0;
	background-color: #B7D84B;
}
#amarillo{
	background-color: #FAFF16;
	right: 0;
	bottom: 0;
}